@font-face {
	font-family: "PT_Sans_Narrow_Bold";
	src: url(../fonts/PT_Sans_Narrow_Bold.ttf);
	font-style: bold;
}

@font-face {
	font-family: "PT_Sans_Narrow";
	src: url(../fonts/PT_Sans_Narrow.ttf);
	font-style: normal;
}

		/* Общие настройки */

body {
	font-family: "PT_Sans_Narrow_Bold", Arial, sans-serif;
	text-transform: uppercase;
	color: white;
}
a:link,
a:visited {
	color: white;
	text-decoration: none;
}

	/*----------Шапка----------*/

header {
	background-color: black;
	height: 70px;
	width: 100%;
}
nav {
	max-width: 960px;
	margin: 0 auto;
	padding: 28px 30px;
}
.nav_list li {
	display: inline-block;
	margin-left: 30px;
}
.nav_list li:nth-of-type(1n+2) {
	margin-left: 40px;
}
.nav_list li:hover {
	padding-bottom: 22px;
	border-bottom: 3px solid white;
}
.user_block {
	float: right;
	text-transform: capitalize;
}
#log_in {
	vertical-align: text-top;
}
.arrow {
 	margin-right: 12px;
}

	/*----------Основной_контент----------*/

.wrapper {
	width: 100%;
	background: url(../images/background-image.jpg) no-repeat center top;
	background-size: cover;
}
.content {
	max-width: 960px;
	height: 100%;
	margin: 0 auto;
}
.logo {
	padding-top: 55px;
	text-align: center;
	margin-bottom: 75px;
}
ul>li {
	color: white;
	float: left;
}
.advantages {
	width: 100%;
	height: 170px;
}
.advantages_list {
	margin-left: 32px;
	float: left;
	width: 275px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}
.advantages_list h1 {
	font-size: 30px;
}
#diams {
	display: block;
	margin: 25px;
	font-size: 45px;
}

	/*----------Новости_и_фотографии----------*/

.news_and_photo {
	width: 100%;
	height: 430px;
	margin-top: 80px;
	background: url(../images/bg_news.jpg) repeat repeat;
}
.news,
.contact_info {
	width: 335px;
	height: 320px;
	color: #000000;
	padding: 55px 80px;
	float: left;
}
.news * {
	color: #000000;
	font-size: 14px;
	line-height: 24px;
}
.news h1,
.contact_info,
.registration {
	font-size: 30px;
}
.news li {
	padding-top: 40px;
}

.news li:last-child {
	padding-top: 20px;
}
.news .date {
	text-transform: lowercase;
	font-family: "PT_Sans_Narrow";
}
.all_news {
	padding: 6px 25px;
	float: left;
	background-color: black;
	width: 90px;
	margin-top: 32px;
	text-align: center;
}
.vertical_line {
	background: url(../images/vertical-line.png) center center;
	width: 6px;
	height: 254px;
	float: left;
	margin-top: 90px;
}
.photo {
	width: 459px;
	height: 430px;
	color: #000000;
	float: left;
}
.photo_block {
	width: 299px;
	height: 320px;
	color: #000000;
	padding: 55px 80px;
	float: left;
}
.photo h1 {
	font-size: 30px;
}
.gallery {
	width: 285px;
	height: 165px;
	background: url(../images/gallery/photo1.jpg) no-repeat no-repeat;
	border: 7px white solid;
	margin-top: 40px;
}
.button {
	cursor: pointer;
	text-transform: uppercase;
}
.next,
.back {
	background-color: black;
	color: white;
	font-family: inherit;
	float: left;
	width: 139px;
	height: 38px;
	margin-top: 34px;
	margin-right: 20px;
	border: none;
}
.back {
	margin-right: 20px;
}
.next {
	margin-right: 0px;
}

	/*----------Контактная_информация----------*/

.contact_and_registration {
	color: black;
	width: 100%;
	height: 430px;
	margin-top: 35px;
	background: url(../images/bg_news.jpg) repeat repeat;
}
.contact_info {
	padding: 55px 80px;
}
.contact_info h1 {
	width: 321px;
	margin-bottom: 40px;
	float: left;
}
.contact_info p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 50px;
}
.how_can_I_get_to,
.feedback {
	background-color: black;
    font-size: 14px;
    width: 139px;
    text-align: center;
    padding: 15px 25px;
    margin-left: 30px;
}
.registration {
	padding: 55px 80px;
	float: left;
	width: 299px;
	height: 320px;
}
.reg_form h1 {
	margin-bottom: 40px;
}
.reg_form p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 26px;
}
.text_area {
	background: url(../images/bg_news.jpg) repeat repeat;
	font-family: inherit;
	border: 2px solid black;
	float: left;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	margin-right: 20px;
	margin-bottom: 15px;
	width: 119px;
}
.text_area:nth-child(2),
.text_area:nth-child(4) {
	margin-right: 0px;
}
.send {
	background-color: black;
	color: white;
	font-family: inherit;
	border: none;
	text-align: center;
	width: 100%;
	padding: 14px;
	margin-top: 35px;
}

	/*----------Футер----------*/

footer {
	margin-top: 60px;
	width: 100%;
	height: 180px;
	background: url(../images/bg_footer.jpg) repeat repeat;
}
.footer_menu {
	max-width: 960px;
	margin: 0 auto;
}
.info_adress {
	float: left;
	width: 350px;
	padding-top: 60px;
	line-height: 24px;
}
.how_find {
	text-decoration: underline;
}
.social {
	float: left;
	width: 350px;
	padding-top: 60px;
	line-height: 24px;
	padding-left: 80px;
}
.social p {
	padding-left: 15px;
}
.social ul li {
	margin-left: 6px;
	margin-top: 20px;
}
.designed {
	width: 140px;
	float: right;
	padding-top: 60px;
	line-height: 24px;
}
.designed p {
	margin-bottom: 20px;
}